* {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
}

body {
  background-color: black;
}

div {
  text-align: center;
}

input,
label {
  text-align: center;
  width: 80vw;
  height: 10vh;
  font-size: 20px;
  margin: auto;
  display: inline-block;
}

button {
  padding: 20px;
  width: 100vw;
}

label {
  background-color: cyan;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type='file'] {
  display: none;
}

img {
  width: 10vw;
}

p {
  font-size: 30px;
  color: yellow;
  display: inline-block;
}

@media screen and (max-aspect-ratio: 1/1) {
  p {
    font-size: 10px;
  }
}

.row {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#inputs {
  display: none;
}
